.lesles-logo{
    width: 149px;
    height: 36.23px;
    background-image: url('../../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contenedor-redes{
    display: flex;
}

.contenedor-redes div{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 30px;
}

.facebook{
    background-image: url('../../img/Facebook.svg');
}
.twitter{
    background-image: url('../../img/Twitter.svg');
}
.instagram{
    background-image: url('../../img/Instagram.svg');
}

.contenedor-footer-izquierda{
    margin-left: 100px;
}